## How we got this California Historical Data - Big Local News

We manually downloaded the PDFs from the california WARN notices site: https://edd.ca.gov/Jobs_and_Training/Layoff_Services_WARN.htm

We only grabbed the historical data which (on 10/22/20) resulted in the downloading of 6 PDF files with data ranging from 2014-2020.

After downloading the data, we used Tabula to convert each PDF to a csv file.
The exported csv files are the same that we are importing below in order to create one large historical file.

See `cali_hist_data` directory for all the data.

In [1]:
import pandas as pd

In [2]:
cali_19_20 = pd.read_csv('cali_hist_data/cali_2019_20.csv')
cali_18_19 = pd.read_csv('cali_hist_data/cali_2018_19.csv')
cali_17_18 = pd.read_csv('cali_hist_data/cali_2017_18.csv')
cali_16_17 = pd.read_csv('cali_hist_data/cali_2016_17.csv')
cali_15_16 = pd.read_csv('cali_hist_data/cali_2015_16.csv')
cali_14_15 = pd.read_csv('cali_hist_data/cali_2014_15.csv')

In [3]:
cali_19_20.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
0,06/10/2020,06/09/2020,06/30/2020,"Harbor Bay Club, Inc",Alameda,Alameda County,80.0,Layoff Temporary
1,03/20/2020,03/20/2020,06/30/2020,"MD2 Industries, LLC",Long Beach,Los Angeles County,109.0,Closure Temporary
2,06/30/2020,08/21/2020,06/30/2020,"NBCUniversal Media, LLC - Digital Lab Unit",Universal City,Los Angeles County,28.0,Layoff Temporary
3,04/22/2020,06/22/2020,06/30/2020,House of Blues Anaheim,Anaheim,Orange County,8.0,Closure Temporary
4,06/29/2020,08/01/2020,06/30/2020,"ADESA California, LLC dba ADESA/AFC Los\rAngeles",Mira Loma,Riverside County,71.0,Layoff Permanent

In [4]:
cali_19_20['Employees'] = cali_19_20['Employees'].astype('Int64')
cali_19_20.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
0,06/10/2020,06/09/2020,06/30/2020,"Harbor Bay Club, Inc",Alameda,Alameda County,80,Layoff Temporary
1,03/20/2020,03/20/2020,06/30/2020,"MD2 Industries, LLC",Long Beach,Los Angeles County,109,Closure Temporary
2,06/30/2020,08/21/2020,06/30/2020,"NBCUniversal Media, LLC - Digital Lab Unit",Universal City,Los Angeles County,28,Layoff Temporary
3,04/22/2020,06/22/2020,06/30/2020,House of Blues Anaheim,Anaheim,Orange County,8,Closure Temporary
4,06/29/2020,08/01/2020,06/30/2020,"ADESA California, LLC dba ADESA/AFC Los\rAngeles",Mira Loma,Riverside County,71,Layoff Permanent

In [5]:
cali_18_19.head()

,Notice Date,Effective\rDate,Received\rDate,Company,City,County,No. Of\rEmployees,Layoff/Closure
0,06/29/2018,08/28/2018,07/02/2018,"Dream Center Education Holdings, LLC",Alameda,Alameda County,78,Closure Permanent
1,06/29/2018,08/28/2018,07/02/2018,"Dream Center Education Holdings, LLC",Ontario,San Bernardino,88,Closure Permanent
2,06/29/2018,08/28/2018,07/02/2018,"Dream Center Education Holdings, LLC",Sacramento,Sacramento,124,Closure Permanent
3,06/29/2018,08/28/2018,07/02/2018,"Dream Center Education Holdings, LLC",San Bernardino,San Bernardino,110,Closure Permanent
4,06/29/2018,08/28/2018,07/02/2018,"Dream Center Education Holdings, LLC",San Francisco,San Francisco,138,Closure Permanent

In [6]:
cali_18_19.columns = cali_18_19.columns.str.replace('\\r',' ')
cali_18_19.rename(columns={"No. Of Employees": "Employees"}, inplace=True)
cali_18_19.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
0,06/29/2018,08/28/2018,07/02/2018,"Dream Center Education Holdings, LLC",Alameda,Alameda County,78,Closure Permanent
1,06/29/2018,08/28/2018,07/02/2018,"Dream Center Education Holdings, LLC",Ontario,San Bernardino,88,Closure Permanent
2,06/29/2018,08/28/2018,07/02/2018,"Dream Center Education Holdings, LLC",Sacramento,Sacramento,124,Closure Permanent
3,06/29/2018,08/28/2018,07/02/2018,"Dream Center Education Holdings, LLC",San Bernardino,San Bernardino,110,Closure Permanent
4,06/29/2018,08/28/2018,07/02/2018,"Dream Center Education Holdings, LLC",San Francisco,San Francisco,138,Closure Permanent

In [7]:
cali_17_18.head()

,Notice Date,Effective\rDate,Received\rDate,Company,City,County,No. Of\rEmployees,Layoff/Closure
0,06/22/2017,06/22/2017,07/03/2017,"Space Systems/Loral, LLC (SSL)",Palo Alto,Santa Clara,173,Layoff Permanent
1,06/23/2017,08/25/2017,07/03/2017,The Boeing Company,El Segundo,Los Angeles,40,Layoff Unknown at this time
2,06/23/2017,08/25/2017,07/03/2017,The Boeing Company,Huntington,Orange County,47,Layoff Unknown at this time
3,06/30/2017,09/01/2017,07/03/2017,"Micron Technology, Inc.",Milpitas,Santa Clara,57,Layoff Permanent
4,07/05/2017,09/03/2017,07/05/2017,"Options for Youth-Victor Valley, Inc.",Fontana,San Bernardino,107,Closure Permanent

In [8]:
cali_17_18.columns = cali_17_18.columns.str.replace('\\r',' ')
cali_17_18.rename(columns={"No. Of Employees": "Employees"}, inplace=True)
cali_17_18.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
0,06/22/2017,06/22/2017,07/03/2017,"Space Systems/Loral, LLC (SSL)",Palo Alto,Santa Clara,173,Layoff Permanent
1,06/23/2017,08/25/2017,07/03/2017,The Boeing Company,El Segundo,Los Angeles,40,Layoff Unknown at this time
2,06/23/2017,08/25/2017,07/03/2017,The Boeing Company,Huntington,Orange County,47,Layoff Unknown at this time
3,06/30/2017,09/01/2017,07/03/2017,"Micron Technology, Inc.",Milpitas,Santa Clara,57,Layoff Permanent
4,07/05/2017,09/03/2017,07/05/2017,"Options for Youth-Victor Valley, Inc.",Fontana,San Bernardino,107,Closure Permanent

In [9]:
cali_17_18['Employees'].dtypes

dtype('int64')

In [10]:
cali_16_17.head()

,Notice Date,Effective\rDate,Received\rDate,Company,City,No. Of\rEmployees,Layoff/Closure
0,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Antelope,55,Closure Permanent
1,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Bakersfield,22,Closure Permanent
2,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Brentwood,22,Closure Permanent
3,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Chico,22,Closure Permanent
4,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Clovis,33,Closure Permanent

In [11]:
cali_16_17.columns = cali_16_17.columns.str.replace('\\r',' ')
cali_16_17.rename(columns={"No. Of Employees": "Employees"}, inplace=True)
cali_16_17.head()

,Notice Date,Effective Date,Received Date,Company,City,Employees,Layoff/Closure
0,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Antelope,55,Closure Permanent
1,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Bakersfield,22,Closure Permanent
2,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Brentwood,22,Closure Permanent
3,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Chico,22,Closure Permanent
4,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Clovis,33,Closure Permanent

In [12]:
cali_16_17['County'] = 'No County Name'
first_col = cali_16_17.pop('County')
cali_16_17.insert(5, 'County', first_col)
cali_16_17.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
0,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Antelope,No County Name,55,Closure Permanent
1,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Bakersfield,No County Name,22,Closure Permanent
2,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Brentwood,No County Name,22,Closure Permanent
3,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Chico,No County Name,22,Closure Permanent
4,06/30/2016,08/31/2016,07/01/2016,DCS Facility Services,Clovis,No County Name,33,Closure Permanent

In [13]:
cali_15_16.head()

,Notice Date,Effective\rDate,Received\rDate,Company,City,No. Of\rEmployees,Layoff/Closure
0,06/22/2015,0 3 / 2 5 / 2 0 16,0 7 / 0 1 / 2 0 15,Maxim Integrated Product,San Jose,150,Closure Permanent
1,06/30/2015,0 8 / 2 9 / 2 0 15,0 7 / 0 1 / 2 0 15,McGraw-Hill Education,Monterey,137,Layoff Unknown at this time
2,06/30/2015,0 8 / 3 0 / 2 0 15,0 7 / 0 1 / 2 0 15,Long Beach Memorial Medical Center,Long Beach,90,Layoff Permanent
3,07/01/2015,0 9 / 0 2 / 2 0 15,0 7 / 0 1 / 2 0 15,Leidos,El Segundo,72,Layoff Permanent
4,07/01/2015,0 9 / 3 0 / 2 0 16,0 7 / 0 1 / 2 0 15,"Bosch Healthcare Systems, Inc.",Palo Alto,55,Closure Permanent

In [14]:
cali_15_16['Effective\rDate'] = cali_15_16['Effective\rDate'].str.replace(' ', '')
cali_15_16['Received\rDate'] = cali_15_16['Received\rDate'].str.replace(' ', '')
cali_15_16.columns = cali_15_16.columns.str.replace('\\r',' ')
cali_15_16.rename(columns={"No. Of Employees": "Employees"}, inplace=True)
cali_15_16.head()

,Notice Date,Effective Date,Received Date,Company,City,Employees,Layoff/Closure
0,06/22/2015,03/25/2016,07/01/2015,Maxim Integrated Product,San Jose,150,Closure Permanent
1,06/30/2015,08/29/2015,07/01/2015,McGraw-Hill Education,Monterey,137,Layoff Unknown at this time
2,06/30/2015,08/30/2015,07/01/2015,Long Beach Memorial Medical Center,Long Beach,90,Layoff Permanent
3,07/01/2015,09/02/2015,07/01/2015,Leidos,El Segundo,72,Layoff Permanent
4,07/01/2015,09/30/2016,07/01/2015,"Bosch Healthcare Systems, Inc.",Palo Alto,55,Closure Permanent

In [15]:
cali_15_16['County'] = 'No County Name'
first_col = cali_15_16.pop('County')
cali_15_16.insert(5, 'County', first_col)
cali_15_16.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
0,06/22/2015,03/25/2016,07/01/2015,Maxim Integrated Product,San Jose,No County Name,150,Closure Permanent
1,06/30/2015,08/29/2015,07/01/2015,McGraw-Hill Education,Monterey,No County Name,137,Layoff Unknown at this time
2,06/30/2015,08/30/2015,07/01/2015,Long Beach Memorial Medical Center,Long Beach,No County Name,90,Layoff Permanent
3,07/01/2015,09/02/2015,07/01/2015,Leidos,El Segundo,No County Name,72,Layoff Permanent
4,07/01/2015,09/30/2016,07/01/2015,"Bosch Healthcare Systems, Inc.",Palo Alto,No County Name,55,Closure Permanent

In [16]:
cali_14_15.head()

,Notice Date,Effective\rDate,Received\rDate,Company,City,No. Of\rEmployees,Layoff/Closure
0,06/30/2014,0 6 / 1 8 / 2 0 14,0 7 / 0 1 / 2 0 14,Symantec Corporation,Mountain View,51,Layoff Permanent
1,06/30/2014,0 9 / 1 2 / 2 0 14,0 7 / 0 7 / 2 0 14,"Post Foods, LLC",Modesto,52,Closure Permanent
2,06/30/2014,0 9 / 2 6 / 2 0 14,0 7 / 0 7 / 2 0 14,"Post Foods, LLC",Modesto,6,Closure Permanent
3,07/01/2014,0 9 / 1 5 / 2 0 14,0 7 / 0 7 / 2 0 14,"Crissair, Inc",Palmdale,170,Closure Permanent
4,07/02/2014,1 0 / 0 1 / 2 0 14,0 7 / 0 7 / 2 0 14,Brooks Automation Inc.,Petaluma,89,Closure Permanent

In [17]:
cali_14_15['Effective\rDate'] = cali_14_15['Effective\rDate'].str.replace(' ', '')
cali_14_15['Received\rDate'] = cali_14_15['Received\rDate'].str.replace(' ', '')
cali_14_15.columns = cali_14_15.columns.str.replace('\\r',' ')
cali_14_15.rename(columns={"No. Of Employees": "Employees"}, inplace=True)
cali_14_15.head()

,Notice Date,Effective Date,Received Date,Company,City,Employees,Layoff/Closure
0,06/30/2014,06/18/2014,07/01/2014,Symantec Corporation,Mountain View,51,Layoff Permanent
1,06/30/2014,09/12/2014,07/07/2014,"Post Foods, LLC",Modesto,52,Closure Permanent
2,06/30/2014,09/26/2014,07/07/2014,"Post Foods, LLC",Modesto,6,Closure Permanent
3,07/01/2014,09/15/2014,07/07/2014,"Crissair, Inc",Palmdale,170,Closure Permanent
4,07/02/2014,10/01/2014,07/07/2014,Brooks Automation Inc.,Petaluma,89,Closure Permanent

In [18]:
cali_14_15['County'] = 'No County Name'
first_col = cali_14_15.pop('County')
cali_14_15.insert(5, 'County', first_col)
cali_14_15.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
0,06/30/2014,06/18/2014,07/01/2014,Symantec Corporation,Mountain View,No County Name,51,Layoff Permanent
1,06/30/2014,09/12/2014,07/07/2014,"Post Foods, LLC",Modesto,No County Name,52,Closure Permanent
2,06/30/2014,09/26/2014,07/07/2014,"Post Foods, LLC",Modesto,No County Name,6,Closure Permanent
3,07/01/2014,09/15/2014,07/07/2014,"Crissair, Inc",Palmdale,No County Name,170,Closure Permanent
4,07/02/2014,10/01/2014,07/07/2014,Brooks Automation Inc.,Petaluma,No County Name,89,Closure Permanent

In [19]:
len(cali_19_20) + len(cali_18_19) + len(cali_17_18) + len(cali_16_17) + len(cali_15_16) + len(cali_14_15)
# when all dfs are concacted, this will be the length

8223

In [20]:
frames = [cali_19_20, cali_18_19, cali_17_18, cali_16_17, cali_15_16, cali_14_15]

In [21]:
cali_hist_data = pd.concat(frames)

In [22]:
cali_hist_data.head()

,Notice Date,Effective Date,Received Date,Company,City,County,Employees,Layoff/Closure
0,06/10/2020,06/09/2020,06/30/2020,"Harbor Bay Club, Inc",Alameda,Alameda County,80,Layoff Temporary
1,03/20/2020,03/20/2020,06/30/2020,"MD2 Industries, LLC",Long Beach,Los Angeles County,109,Closure Temporary
2,06/30/2020,08/21/2020,06/30/2020,"NBCUniversal Media, LLC - Digital Lab Unit",Universal City,Los Angeles County,28,Layoff Temporary
3,04/22/2020,06/22/2020,06/30/2020,House of Blues Anaheim,Anaheim,Orange County,8,Closure Temporary
4,06/29/2020,08/01/2020,06/30/2020,"ADESA California, LLC dba ADESA/AFC Los\rAngeles",Mira Loma,Riverside County,71,Layoff Permanent

In [23]:
len(cali_hist_data)

8223

## Now for a Teeny bit of Data Cleaning

I exported the `cali_hist_data` file and saw that the format was wonky because there are some new line and new row characters within the company names. Also, the `Employees` column for the `cali_2019_20` dataframe should be converted to integers so that the data in the column is of the same type.

In [24]:
cali_hist_data['Company'] = cali_hist_data['Company'].str.replace('\\r', '')
cali_hist_data['Company'] = cali_hist_data['Company'].str.replace('\\n', '')
cali_hist_data['City'] = cali_hist_data['City'].str.replace('\\r', '')
cali_hist_data['City'] = cali_hist_data['City'].str.replace('\\n', '')
cali_hist_data['Layoff/Closure'] = cali_hist_data['Layoff/Closure'].str.replace('\\r', '')
cali_hist_data['Layoff/Closure'] = cali_hist_data['Layoff/Closure'].str.replace('\\n', '')

In [25]:
cali_hist_data.to_csv('cali_hist_data/cali_warn_hist.csv', index=False)